*DS_Store*
*.aux
*.cache
*.dvi
*.log
*.o
*.status
*~
.deps
Makefile
Makefile.in
aclocal.m4
ar-lib
autoconf.h
autoconf.h.in
autom4te*
cfftot1/cfftot1
compile
config.*
configure
configure.scan
depcomp
glyphtounicode.tex
install-sh
lib*/*.a
missing
mmafm/mmafm
mmpfb/mmpfb
otfinfo/otfinfo
otftotfm/otftotfm
stamp-h*
t1dotlessj/t1dotlessj
t1lint/t1lint
t1rawafm/t1rawafm
t1reencode/t1reencode
t1testpage/t1testpage
ttftotype42/ttftotype42
